/*ESTILO DE ELEMENTOS*/
img {
    transition: 0.5s ease;
    &:hover{
        -webkit-transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg);
        transition: 0.5s ease;
     }
}

input{
    padding: 10px;
    border: 1px solid grey;
    box-shadow: 1px 2px 10px grey;
}

p{
    margin: 20px 0px; 
    text-align: justify;
}

h2 {
    text-decoration: overline;
    text-decoration-color: $colorMain;
}

section{
    padding: 2rem 7rem;
}

body, html { overflow-x:hidden};

/*ESTILO DE PSEUDOELEMENTOS*/

:focus{
    border: none !important;
}