@import "variables";
@import "resets";
@import "header";
@import "section";
@import "footer";
@import "mediaqueries";

/*ESTILO DE ELEMENTOS*/
td {
    text-align: center;
}

img {
    transition: 1s ease;
    :hover{
        -webkit-transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg);
        transition: 1s ease;
     }
}

input{
    padding: 10px;
    border: 1px solid grey;
    box-shadow: 1px 2px 10px grey;
}

p{
    margin: 20px 0px; 
}

h2 {
    text-align: center;
}

/*ESTILO DE PSEUDOELEMENTOS*/

:focus{
    border: none !important;
}


/*ESTILO DE CLASES*/
.main-section {
    display: flex;
    flex-direction: row;
}

.section1{
    margin: 30px 0px;
}
.section2{
    background-image: linear-gradient(155deg,$gradientOne 0,$gradientTwo 100%);
    padding-top: 5%;
    height: 70vh;

}

.section3{
    padding-top: 5%;
}

.section4{
    background-image: linear-gradient(155deg, $gradientTwo 0,$gradientOne 100%);
    padding-top: 5%;
    p {
        text-align: center;
    }
}

.logo{
    width: 13%;
    min-width: 100px;
}

.form-image {
    width: 40%;
}

.div-form {
    width: 60%;
}

.main-image {
    width: 90%;
    min-width: 200px; 
}

.img-beneficios{
    float: right;;
    width: 25%;
    margin-right: 20%;
}

.img-funciona{
    float:left;
    width: 35%;
    margin-right: 5%;
}

.highlighet-text{
    color: $colorMain;
    font-weight: bold;
}

.email {
    font-size: large; 
    width: 45%;
}

.avatar{
    width: 20%;
}

.fa-heart, .fa-flask{
    color: $colorMain;
}

.testimonials{
    clip-path: circle(50% at 50% 50%);
    width: 60px;
    margin-top: 10px;
}

.message{
    background-color: $colorBackground;
    border: 1px solid lightgrey;
    padding: 10px 10px;
    font-size: smaller;
    border-radius: 15px;
}

.tabletestimonios{
  border-collapse: separate;
  border-spacing: 20px 5px;
}

.tablebeneficios {
    width: 100%;
    display: flex;
    flex-direction: row;
    ::first-letter {
        font-size: 300%;
        color:$colorMain;
    }
}

.benefits {
    width: 33.33%;
}

.button {
    font-size: larger;
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: 3px;
    margin-left: 5px;
    width: 45%;
    background-color: $colorMain;
    border: none;
    color: $colorBackground;
    padding: 10px;
    font-weight: bolder;
    :hover {
        background-color: #03a67bc7;
      }
  }