/* *{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    color: #3e4d53;
    border:none;
    box-sizing: border-box;
}

*:focus{
    outline-width: 0px;
}

html {
    scroll-behavior: smooth;
} */

/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
} */

/* .form-image {
    width: 40%;
}

.div-form {
    width: 60%;
}

.main-image {
    width: 90%;
    min-width: 200px; 
}

.img-beneficios{
    float: right;;
    width: 25%;
    margin-right: 20%;
}

.img-funciona{
    float:left;
    width: 35%;
    margin-right: 5%;
} */

/* header, section, footer{
    padding: 2rem 7rem;
} */

/* .logo{
    width: 13%;
    min-width: 100px;
} */

/* nav {
    text-align:right;
    background-color: #ffffff;
}

nav a{
    font-size: 1em;
    margin-right: 1em;
    margin-left: 0.2em;
    padding-left: 0.33em;
    font-weight: bold;
    text-decoration: none;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-bottom-left-radius:8px 8px;
    line-height: 0.5 !important;
} */

/* nav a:hover{
    border-bottom-left-radius:8px 8px;
    border-left: 3px solid #03a67b;
    border-bottom: 3px solid #03a67b;
    transition-duration: 0.25s;
} */

/* .main-section {
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */

/* .section1 {
    /* height: 100%;  No logro que la altura se aplica a la seccion ya sea como relativo o absoluto*/
    /* margin: 30px 0px; */ 
    /* display: flex;
    flex-wrap: wrap; */


/* .section2{
    background-image: linear-gradient(155deg,#edf3e3 0,#bff6f1 100%);
    padding-top: 5%;
    height: 70vh;
} */

/* .section3{
    padding-top: 5%; */

/* .section3 h2,.section4 h2, .section4 p{
    text-align: center;
} */

/* .section4{
    background-image: linear-gradient(155deg,#bff6f1 0,#edf3e3 100%);
    padding-top: 5%;
} */

/* .tablebeneficios {
    width: 100%;
    display: flex;
    flex-direction: row;
} */

/* td {
    text-align: center;
} */

/* .tablebeneficios ::first-letter {
    font-size: 300%;
    color:#03a67b;
} */

/* img {
     transition: 1s ease;
}

img:hover{
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
    transition: 1s ease;
} */

/* .benefits {
    width: 33.33%;
} */

/* input{
    padding: 10px;
    border: 1px solid grey;
    box-shadow: 1px 2px 10px grey;
} */

/* .button {
    background-color: #03a67b;
    border: none;
    color: white;
    padding: 10px;
    font-weight: bolder;
  }

.button:hover {
    background-color: #03a67bc7;
  } */

/* :focus{
    border: none !important;
} */

/* p{
    margin: 20px 0px; 
} */

/* footer{
    background: #3e4d53;
} */

/* footer h6, footer p{
    color:white;
    margin-bottom: 10px;
} */

/* .highlighet-text{
    color:#03a67b;
    font-weight: bold;
}

.email {
    font-size: large; 
    width: 45%;
}

.button {
    font-size: larger;
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: 3px;
    margin-left: 5px;
    width: 45%;
}

.avatar{
    width: 20%;
}

.fa-heart, .fa-flask{
    color: #03a67b;
}

.testimonials{
    clip-path: circle(50% at 50% 50%);
    width: 60px;
    margin-top: 10px;
}

.message{
    background-color: white;
    border: 1px solid lightgrey;
    padding: 10px 10px;
    font-size: smaller;
    border-radius: 15px;
}

.tabletestimonios{
  border-collapse: separate;
  border-spacing: 20px 5px;
} */

/* @media only screen and (max-width:900px) {
    .form {
        display: flex;
        flex-direction: column;
        width: 250%;
    }
    input[type='email'] {
        margin-bottom: 10px;
    }
    input[type='button'] {
        margin: 0;
    }
    #home {
        display: none;
    }
    .main-section {
        flex-direction: column;
    }
    header, section, footer{
        padding: 8%;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-13 16:13:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 /* @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  } */
  
  /**
   * ----------------------------------------
   * animation wobble-ver-left
   * ----------------------------------------
   */
  /* @-webkit-keyframes wobble-ver-left {
    0%,
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateY(-30px) rotate(-6deg);
              transform: translateY(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateY(15px) rotate(6deg);
              transform: translateY(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateY(-15px) rotate(-3.6deg);
              transform: translateY(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateY(9px) rotate(2.4deg);
              transform: translateY(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateY(-6px) rotate(-1.2deg);
              transform: translateY(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-ver-left {
    0%,
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateY(-30px) rotate(-6deg);
              transform: translateY(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateY(15px) rotate(6deg);
              transform: translateY(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateY(-15px) rotate(-3.6deg);
              transform: translateY(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateY(9px) rotate(2.4deg);
              transform: translateY(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateY(-6px) rotate(-1.2deg);
              transform: translateY(-6px) rotate(-1.2deg);
    }
  }
  
.wobble-ver-left {
	-webkit-animation: wobble-ver-left 0.8s both;
	        animation: wobble-ver-left 0.8s both;
}

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.modal-backdrop {
    z-index: 10;
  } */ 